{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="card">
    <h5 class="card-header">Create Auction</h5>
    <div class="card-body">
        <form action="/">
            <div class="form-group">
                <label for="email">Title</label>
                <input type="text" class="form-control" id="title"  name="title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="inputState">Category</label>
                <select id="inputState" class="form-control">
                  <option selected>----</option>
                  <option>COW</option>
                  <option>GOAT</option>
                </select>
              </div>
            <div class="form-group">
                <label for="email">Starting Bid</label>
                <input type="text" class="form-control" id="startingBid" name="startingBid">
            </div>
            <div class="form-group">
                <label for="email">Image</label>
                <input type="file" class="form-control" id="Image" name="Image">
            </div>
            <button type="submit" class="btn btn-primary">SAVE</button>
            <button type="reset" class="btn btn-danger">CLEAR</button>
        </form>  
    </div>
  </div>
{% endblock %}