{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

{% if success %}
<div id="success-alert" class="alert alert-success" role="alert">
    Auction created successfully.
</div>
{% else %}
<div class="card">
    <h5 class="card-header">Create Auction</h5>
    <div class="card-body">
        <form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{auction_form | crispy }}
                {{image_form.management_form}}

                {% for form in image_form %}
                    {{form | crispy}}
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">SAVE</button>
            <button type="reset" class="btn btn-danger">CLEAR</button>
        </form>  
    </div>
</div>
{% endif %}
{% endblock %}